.around-tour .sm-left li,
.city-tour .sm-right p,
.section-moutain,
.slideshow .slideshow-btn {
    overflow: hidden;
    zoom: 1
}

.top-banner {
    padding-top: 10px
}

.slideshow {
    height: 360px;
    min-width: 1200px;
    /* background: #dedede; */
    position: relative
}

.slideshow .slideshow-img {
    height: 360px;
    position: relative;
    overflow: hidden;
    zoom: 1;
    margin: 0 auto;
    z-index: 0
}

.slideshow .slideshow-img li {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    display: none
}

.slideshow .slideshow-img li a {
    display: block;
    width: 760px;
    height: 360px;
    line-height: 410px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    left: 20px;
    background: url(../images/loading.gif) center center no-repeat #fff
}

.slideshow .slideshow-img li img {
    border: none;
    display: block;
    width: 760px;
    height: 360px;
    text-indent: -9999px
}

.slideshow .slideshow-img li.width1920 a {
    width: 1920px;
    left: 0;
    background: 0 0
}

.slideshow .slideshow-img li.width1920 img {
    width: 1920px;
    opacity: 0;
    filter: alpha(opacity=0)
}

.slideshow .slideshow-img li.no-img a {
    line-height: 360px;
    background: 0 0;
    text-indent: 0
}

.slideshow .slideshow-img li.no-img img {
    text-indent: 0
}

.slideshow .slideshow-btn {
    position: absolute;
    left: 50%;
    bottom: 16px;
    margin-left: -20px;
    height: 12px
}

.slideshow .slideshow-btn li {
    float: left;
    height: 12px;
    width: 12px;
    background: #fff;
    opacity: .6;
    filter: alpha(opacity=60);
    border-radius: 12px;
    margin: 0 3px;
    zoom: 1
}

.slideshow .slideshow-btn .active {
    background: #ff7800;
    opacity: 1;
    filter: alpha(opacity=100)
}

.slideshow .next,
.slideshow .prev {
    display: block;
    height: 74px;
    width: 30px;
    background-image: url(../images/icon_0e034ee3e3b94c7984b7ea06e0857652.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 144px;
    left: 50%;
    cursor: pointer;
    opacity: .7;
    filter: alpha(opacity=70)
}

.slideshow .prev {
    background-position: -73px -88px;
    margin-left: -360px;
    border-radius: 0 6px 6px 0
}

.slideshow .next {
    background-position: -43px -88px;
    margin-left: 370px;
    border-radius: 6px 0 0 6px
}

.slideshow .next:hover,
.slideshow .prev:hover {
    opacity: .8;
    filter: alpha(opacity=80)
}

.right-img {
    position: relative;
    z-index: 1
}

.right-img div {
    position: absolute;
    right: -4px;
    top: 0;
    z-index: 1
}

.right-img a {
    display: block;
    position: relative;
    right: 0;
    -moz-transition: right .2s ease-out;
    -webkit-transition: right .2s ease-out;
    -o-transition: right .2s ease-out;
    transition: right .2s ease-out
}

.right-img a:hover {
    right: 4px
}

.right-img img {
    display: block;
    width: 204px;
    height: 180px
}

.section {
    margin-bottom: 20px
}

.section-title {
    padding: 10px 0
}

.section-title h2 a,
.section-title h2 strong {
    font-weight: 700;
    font-size: 24px
}

.section-title h2 span {
    color: #999;
    margin-left: 10px
}

.section-main {
    background: #fff
}

.section-main .sm-left {
    float: left;
    padding: 15px;
    width: 915px
}

.section-main .sm-right {
    float: right;
    position: relative;
    height: 100%;
    width: 222px;
    padding: 0 15px;
    border-left: 1px dotted #ddd
}

.section-main .sm-right h3 {
    font-weight: 700;
    padding: 20px 0 18px;
    line-height: 14px
}

.section-main .sm-right h3 a {
    margin-left: 94px;
    font-weight: 400
}

.city-tour .section-title h2 {
    color: #64b052
}

.city-tour .tab-btn {
    padding: 15px
}

.city-tour .tab-btn li,
.city-tour .tab-btn ul {
    float: left
}

.city-tour .tab-btn li a {
    display: block;
    font-size: 16px;
    padding: 4px 16px;
    border-radius: 2px;
    margin-right: 20px;
    -moz-transition: background .1s ease-out;
    -webkit-transition: background .1s ease-out;
    -o-transition: background .1s ease-out;
    transition: background .1s ease-out
}

.city-tour .tab-btn .active a,
.city-tour .tab-btn li a:hover {
    color: #fff;
    background: #64b052
}

.city-tour .tab-btn .search-city {
    float: right;
    position: relative;
    top: 2px;
    *+top: 3px
}

.city-tour .sm-left {
    padding: 0;
    width: 945px;
    *padding-bottom: 15px
}

.city-tour .sm-right {
    height: 707px
}

.city-tour .sm-right h3 {
    padding-bottom: 26px;
    *+padding-bottom: 6px
}

.city-tour .sm-right li {
    padding-bottom: 20px;
    *+padding-bottom: 3px;
    position: relative
}

.city-tour .sm-right img {
    display: block;
    border-radius: 2px;
    height: 128px;
    width: 220px
}

.city-tour .sm-right .title {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 34px;
    width: 220px
}

.city-tour .sm-right .sale-tips {
    padding-right: 5px;
    margin-top: 1px;
    float: left
}

.city-tour .sm-right p i {
    font-style: normal
}

.city-tour .sm-right p span {
    float: right;
    line-height: 20px
}

.city-tour .sm-right p span em {
    text-decoration: line-through;
    position: relative;
    top: -2px;
    font-size: 12px;
    color: #999
}

.city-tour .sm-right p span i {
    font-size: 14px;
    margin-right: 2px
}

.city-tour .sm-right p strong {
    color: #ff4500;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px
}

.tab-mod {
    display: none
}

.tab-mod.active {
    display: block
}

.around-tour .section-title h2 a,
.around-tour .section-title h2 strong {
    color: #119fe9
}

.around-tour .sm-left {
    padding-bottom: 5px
}

.around-tour .sm-left li {
    float: left;
    width: 186px;
    height: 140px;
    position: relative;
    border-radius: 2px;
    margin: 0 0 10px 12px
}

.around-tour .sm-left li div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/shadow.png) left bottom repeat-x
}

.around-tour .sm-left .big-img {
    width: 518px;
    height: 290px;
    margin: 0 0 10px
}

.around-tour .sm-left .big-img img {
    display: block;
    width: 100%;
    height: 100%
}

.around-tour .sm-left li p,
.around-tour .sm-left li span {
    position: absolute;
    left: 10px;
    bottom: 6px;
    color: #fff
}

.choice-tour .sm-left div,
.choice-tour .sm-left li {
    position: relative;
    zoom: 1;
    overflow: hidden
}

.around-tour .sm-left li strong {
    font-size: 19px;
    display: block
}

.around-tour .sm-left li em {
    color: #ccc;
    font-size: 12px
}

.choice-tour .section-title h2 a,
.choice-tour .section-title h2 strong {
    color: #ff7800
}

.choice-tour .sm-left {
    padding-right: 0
}

.choice-tour .sm-left ul {
    overflow: hidden;
    zoom: 1;
    margin-left: -12px;
    _margin-left: -24px;
    width: 924px;
    _width: 948px
}

.choice-tour .sm-left li {
    float: left;
    height: 222px;
    width: 296px;
    border-radius: 2px;
    margin-left: 12px
}

.choice-tour .sm-left li img {
    display: block;
    height: 174px;
    width: 296px;
    border-radius: 2px;
    margin-bottom: 12px
}

.choice-tour .sm-left li strong {
    display: block;
    width: 194px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
    font-size: 16px;
    color: #333;
    margin-left: 5px
}

.choice-tour .sm-left em {
    position: absolute;
    right: 5px;
    top: 2px;
    *top: 4px;
    font-size: 12px
}

.choice-tour .sm-left .icon {
    margin-right: 5px;
    top: -1px
}

.choice-tour .sm-right {
    height: 252px
}

.choice-tour .sm-right .head {
    display: block;
    padding-bottom: 10px;
    position: relative
}

.choice-tour .sm-right .head img {
    display: block;
    border-radius: 2px;
    float: left;
    margin-right: 10px;
    width: 100px;
    height: 75px
}

.choice-tour .sm-right .head div {
    float: left;
    width: 112px;
    font-size: 12px;
    box-shadow: none
}

.choice-tour .sm-right .head p {
    position: absolute;
    bottom: 8px;
    left: 110px;
    line-height: 20px;
    text-align: left
}

.choice-tour .sm-right .head p em {
    color: #999;
    text-decoration: line-through;
    font-size: 12px
}

.choice-tour .sm-right .head p i {
    font-size: 14px;
    font-style: normal;
    margin-right: 2px
}

.choice-tour .sm-right .head p span {
    font-size: 16px;
    color: #ff4500;
    font-weight: 700;
    display: block
}

.choice-tour .sm-right ul {
    border: 1px dotted #ddd;
    border-left: none;
    border-bottom: none;
    width: 222px
}

.choice-tour .sm-right li {
    float: left;
    text-align: center
}

.choice-tour .sm-right li a {
    font-size: 12px;
    display: block;
    line-height: 32px;
    width: 73px;
    border: 1px dotted #ddd;
    border-right: none;
    border-top: none;
    background: #fff
}

.choice-tour .sm-right li a:hover {
    background: #ff7800;
    color: #fff
}

.footer-links {
    background: #fff;
    border-top: 1px solid #e9eef2
}

.footer-links div {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
    height: 79px;
    position: relative
}

.footer-links ul {
    position: absolute;
    width: 1330px;
    overflow: hidden;
    zoom: 1;
    padding: 16px 0;
    left: 0;
    top: 0
}

.footer-links li {
    width: 20%;
    float: left;
    overflow: hidden;
    zoom: 1;
    height: 47px;
    line-height: 47px
}

.footer-links a {
    display: block;
    height: 47px;
    line-height: 47px;
    font-size: 18px;
    color: #838e93
}

.footer-links i {
    display: block;
    height: 47px;
    width: 47px;
    background: url(../images/footer-links.png) no-repeat;
    float: left;
    margin-right: 14px
}

.footer-links .link2 {
    background-position: -49px 0
}

.footer-links .link3 {
    background-position: -98px 0
}

.footer-links .link4 {
    background-position: -147px 0
}

.footer-links .link5 {
    background-position: -196px 0
}

.travel-shop {
    position: relative;
    display: none
}

.travel-shop .section-title a {
    color: #FF4500
}

.travel-shop .section-main {
    padding: 15px
}

.travel-shop .swiper-container {
    height: 252px
}

.travel-shop .single img {
    display: block;
    width: 1200px
}

.travel-shop .ts-next,
.travel-shop .ts-prev {
    display: none;
    position: absolute;
    height: 74px;
    width: 30px;
    background-image: url(../images/icon_0e034ee3e3b94c7984b7ea06e0857652.png);
    background-repeat: no-repeat;
    top: 50%;
    margin-top: -37px;
    opacity: .7;
    filter: alpha(opacity=70)
}

.travel-shop .ts-prev {
    left: 0;
    background-position: -73px -88px;
    border-radius: 0 6px 6px 0
}

.travel-shop .ts-next {
    right: 0;
    background-position: -43px -88px;
    border-radius: 6px 0 0 6px
}

.travel-shop .single .ts-next,
.travel-shop .single .ts-prev {
    display: none
}

.travel-shop .ts-next:hover,
.travel-shop .ts-prev:hover {
    opacity: .8;
    filter: alpha(opacity=80)
}

.travel-shop .swiper-slide {
    position: relative;
    width: 322px;
    height: 252px;
    padding-left: 15px
}

.travel-shop .swiper-slide:first-child {
    padding-left: 0
}

.travel-shop .swiper-slide div {
    position: absolute;
    left: 15px;
    top: 0;
    width: 322px;
    height: 100%
}

.travel-shop .swiper-slide:first-child div {
    left: 0
}

.travel-shop .swiper-slide p {
    position: absolute;
    width: 100%;
    padding: 6px 10px;
    left: 0;
    bottom: 0;
    color: #fff;
    box-sizing: border-box;
    background: url(../images/shadow.png) left bottom repeat-x;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
}

.travel-shop .swiper-slide strong {
    display: block;
    font-size: 20px
}

.travel-shop .swiper-slide em {
    display: block;
    height: 45px;
    line-height: 1.6;
    font-size: 14px;
    overflow: hidden
}

.travel-shop .swiper-slide a,
.travel-shop .swiper-slide a:hover {
    color: #fff
}

.travel-shop .swiper-slide img {
    display: block;
    width: 322px;
    height: 252px;
    border-radius: 3px
}

.travel-shop .swiper-slide.small-img,
.travel-shop .swiper-slide.small-img img {
    width: 154px;
    height: 252px
}

.travel-shop .single .swiper-slide {
    width: 100%
}

.travel-shop .single .swiper-slide img {
    float: left;
    width: 828px
}

.travel-shop .single .swiper-slide div {
    position: static;
    float: right
}

.travel-shop .single .swiper-slide p {
    position: static;
    background: 0 0;
    color: #999;
    text-align: center
}

.travel-shop .single .swiper-slide strong {
    margin-top: 40px;
    color: #333;
    font-size: 24px
}

.travel-shop .single .swiper-slide em {
    width: 280px;
    height: auto;
    margin-top: 40px;
    text-align: justify
}